<div class="container-fluid">
  <div class="row">
    <div class="col-3 bg-light">
      <div>
        <p><i class="bi bi-caret-down me-2"></i>Favorites</p>
        <p class="ps-5">Inbox</p>
        <p class="ps-5">Send Items</p>
      </div>

      <div>
        <p><i class="bi bi-caret-down me-2"></i>John</p>
        <p class="ps-5">Inboxs</p>
        <p class="ps-5">Drafts</p>
        <p class="ps-5">Deleted Items</p>
        <p class="ps-5">Send Items</p>
        <p class="ps-5">Outox</p>
      </div>

    </div>
    <div class="col-9">
      <app-right-item></app-right-item>
    </div>
  </div>
</div>
