.icon-left {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: black;
  background-color: lightgray;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
